<include href="includes/header.html"></include>

<body class="products-body">
<!-- Navigation Start -->
<nav id="" class="navbar navbar-expand-lg static-top">
    <div class="container">
        <a class="navbar-brand" href="{{@BASE}}"><img src="images/logo.png" alt="Studio 11 logo"></a>
        <button class="navbar-toggler navbar-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="appointment">Book Appointment</a>
                </li>
                <!-- Active Nav -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{@BASE}}">Home</a>
                </li>
                <!-- End Active Nav -->
                <li class="nav-item">
                    <a class="nav-link" href="services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stylist">Stylist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigation End -->

<div class="container">
    <h1 class="text-light">Products</h1>
</div>

<!-- Start Product Container -->
<div class="col-md-4 mt-4 mt-sm-0 card-container">
    <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
        [product-image]
        <div class="card-body p-4 py-0 h-xs-440p">
            [product-title]
            [product-price]
        </div>
        <p class="btn w-100 px-4 text-center mx-auto">
            [button]
    </div>
</div>



<repeat group="{{ @div }}" key="{{ @ikey }}" value="{{ @idiv }}">
    <div>
        <p><span><b>{{ @ikey }}</b></span></p>

        <div class="col-md-4 mt-4 mt-sm-0 card-container">
            <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
                [product-image]
                <div class="card-body p-4 py-0 h-xs-440p">
                    [product-title]
                    [product-price]
                </div>
                <p class="btn w-100 px-4 text-center mx-auto">
                    [button]
            </div>
        </div>


        <p>
            <repeat group="{{ @idiv }}" value="{{ @ispan }}">
                <span>{{ @ispan }}</span>

            </repeat>
        </p>
    </div>
</repeat>

<repeat group="{{ @fruits }}" value="{{ @fruit }}" counter="{{ @ctr }}">
    <p class="{{ @ctr%2?'odd':'even' }}">{{ trim(@fruit) }}</p>
</repeat>
<!-- End Product Container -->

<!--<div class="col-md-4 mt-4 mt-sm-0 card-container">-->
<!--    <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">-->
<!--        &lt;!&ndash;        [product-image]&ndash;&gt;-->
<!--        <img src="" alt="">-->
<!--        <div class="card-body p-4 py-0 h-xs-440p">-->

<!--            {{ @title[0] }}-->

<!--            <img src="{{ @images[0] }}" alt="product image">-->
<!--        </div>-->
<!--        <p class="btn w-100 px-4 text-center mx-auto">-->
<!--            {{ @description[0] }}-->

<!--            <button type="button" class="btn btn-outline-dark" value="{{ @value[0] }}">Buy me!</button>-->
<!--    </div>-->
<!--</div>-->

<include href="includes/footer.html"></include>
</body>