<include href="includes/header.html"></include>

<body class="products-body">
<!-- Navigation Start -->
<nav id="" class="navbar navbar-expand-lg static-top">
    <div class="container">
        <a class="navbar-brand" href="{{@BASE}}"><img src="images/logo.png" alt="Studio 11 logo"></a>
        <button class="navbar-toggler navbar-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="appointment">Book Appointment</a>
                </li>
                <!-- Active Nav -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{@BASE}}">Home</a>
                </li>
                <!-- End Active Nav -->
                <li class="nav-item">
                    <a class="nav-link" href="services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stylist">Stylist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigation End -->

<div class="container">
    <h1 class="text-light">Products</h1>
</div>

<!-- Start Product Container -->
<div class="container text-center border border-light">
    <div class="card">
        <div class="row">
            <div class="col-md-6 text-center align-self-center"> <img class="img-fluid" src="https://i.imgur.com/7a9V4yw.png"> </div>
            <div class="col-md-6 info">
                <div class="row title">
                    <div class="col">
                        <h2>Herbalism</h2>
                    </div>
                    <div class="col text-right"><a href="#"><i class="fa fa-heart-o"></i></a></div>
                </div>
                <p>Natural herbal wash</p> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star-half-full"></span> <span id="reviews">1590 Reviews</span>
                <div class="row price"> <label class="radio"> <input type="radio" name="size1" value="small" checked> <span>
                                        <div class="row"><big><b>1.5 oz.</b></big></div>
                                        <div class="row">$12.95</div></a>
                                    </span> </label> <label class="radio"> <input type="radio" name="size1" value="large"> <span>
                                        <div class="row"><big><b>4.4 oz.</b></big></div>
                                        <div class="row">$21.95</div></a>
                                    </span> </label> </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Container -->

<include href="includes/footer.html"></include>
</body>