<include href="includes/header.html"></include>

<body class="products-body">
<!-- Navigation Start -->
<nav id="" class="navbar navbar-expand-lg static-top">
    <div class="container">
        <a class="navbar-brand" href="{{@BASE}}"><img src="images/logo.png" alt="Studio 11 logo"></a>
        <button class="navbar-toggler navbar-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- Active Nav -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{@BASE}}">Home</a>
                </li>
                <!-- End Active Nav -->
                <li class="nav-item">
                    <a class="nav-link" href="services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stylist">Stylist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigation End -->

<!-- Products start -->
<section id="gallery mt-5">
    <div class="container">
        <div class="row">

            <!-- Card starts -->
            <repeat group="{{@products}}" value="{{@product}}">
            <div class="col-lg-4 my-4">
                <div class="card d-inline-block">
                    <img src="images/product-soap.png" alt="image of our product" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{@product.product_name}}</h5>
                        <h6 class="inline-block">{{@product.product_size}}</h6>
                        <p class="card-text mb-5">{{@product.product_description}}</p>

                        <p class="card-text">{{@product.product_price}}</p>
                        <!-- TODO - Shopping Cart?? -->
                        <a href="" class="btn btn-outline-success btn-sm float-right">Buy Now!</a>
                    </div>
                </div>
            </div>
            </repeat>
            <!-- Card Ends -->

        </div>
    </div>
</section>
<!-- Products Container -->


<include href="includes/footer.html"></include>
</body>